.chat-message {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-right: 4px;
  background-color: transparent;
  border-radius: 4px;
  margin-top: 1.0625rem;
  padding: 2px 16px;
  margin-bottom: 1px;
  padding-right: 0px;

  > .message-date {
    opacity: 0;
    color: $gray;
    font-size: 11px;
    width: 56px;
    padding-left: 12px;
    padding-top: 4px;
    white-space: nowrap;
  }

  &.isExtra {
    margin-top: 0;
    margin-bottom: 3px;
    align-items: flex-start;
    padding: 2px 0px;
  }

  &:hover {
    background-color: $background-message-hover;
    > .message-toolbar,
    .message-date {
      opacity: 1;
    }
  }
}

.message-header {
  display: flex;
  align-items: center;

  > span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: $header-primary;
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }

  > time {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: $text-muted;
    vertical-align: baseline;
    margin-left: 0.35rem;
  }
}

.message-content {
  text-align: left;
  font-size: 1rem;
  line-height: 1.375rem;
  white-space: break-spaces;
  word-wrap: break-word;
  font-weight: 300;
  color: $text-normal;
}

.message-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 17px;
  word-break: break-all;
  user-select: text;
}
