.Spinner {
  position: relative;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.Spinner_circle {
  height: 100%;
  right: 0px;
  position: absolute;
  border: 2px solid #888787;
  border-top-color: #d1d8e0;
  border-radius: 50%;
  &.border {
    width: 100%;
    transform: rotate(135deg);
    animation: spin 1.3s steps(2) 0.2s infinite;
    -webkit-animation: spin 1.3s linear infinite;
  }
}

.Spinner_message {
  font-size: 16px;
  line-height: 20px;
  color: $text-normal;
  margin-top: 10px;
}
