.ServerName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-secondary;
  padding: 0 11px 0 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  z-index: 0;

  .title {
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: $white;
  }

  .expandIcon {
    width: 28px;
    height: 28px;
    color: $header-primary;
    cursor: pointer;
  }
}
