@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: bold;
  src: url(/public/fonts/Whitney-Semibold.ttf);
}

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: normal;
  src: url(/public/fonts/Whitney-Medium.woff);
}

@font-face {
  font-family: 'Whitney';
  font-style: italic;
  font-weight: normal;
  src: url(/public/fonts/Whitney-Italic.woff);
}