$saturation-factor: 1;
$tertiary: rgb(32,34,37);
$quinary: #393d42;
$senary: #828386;

$white: #fff;
$gray: #8a8c90;
$green: #3ba55d;
$symbol: #74777a;
$notification: #f84a4b;
$discord: #6e86d6;
$link: #5d80d6;

$background-primary: #36393f;
$background-secondary: #2f3136;
$background-tertiary: #202225;
$background-inactive: #72767c;
$background-modifier-accent: rgba(79,84,92,0.48);
$background-modifier-selected: hsla(217,calc($saturation-factor*7.6%),33.5%,0.6);
$background-modifier-hover: hsla(217,calc($saturation-factor*7.6%),33.5%,0.4);;
$background-message-hover: rgba(4,4,5,0.07);
$background-secondary-alt: #292b2f;
$background-floating: #18191c;
$button-secondary-background: #4f545c;
$modal-background: #36393f;
$button-danger-background: hsl(359,calc($saturation-factor*66.7%),54.1%);
$button-danger-background-hover: hsl(359,calc($saturation-factor*56.3%),40.4%);
$button-secondary-background-hover: #686d73;
$status-warning-background: hsl(38,calc($saturation-factor*95.7%),54.1%);

$header-primary: #fff;
$header-secondary: #b9bbbe;

$text-normal: #DCDDDE;
$text-muted: hsl(214,calc(var(--saturation-factor, 1)*4%),65.3%);
$text-input-border: rgba(0,0,0,0.3);
$text-link: hsl(197, calc($saturation-factor * 100%), 47.8%);
$text-danger: hsl(359, calc($saturation-factor * 82%), 73.9%);

$brand-experiment: hsl(235, calc($saturation-factor * 85.6%), 64.7%);
$brand-experiment-560: hsl(235, calc($saturation-factor * 51.4%), 52.4%);
$info-danger-foreground: hsl(359,calc($saturation-factor*82.6%), 59.4%);
$elevation-high: 0 8px 16px rgba(0,0,0,0.24);
$interactive-normal: #b9bbbe;
$channel-text-area-placeholder: #72767d;
$channels-default: #96989d;


$channel-text-area-placeholder: hsl(218,calc($saturation-factor * 4.6%),46.9%);
$channeltextarea-background: hsl(218,calc($saturation-factor * 7.9%),27.3%);

$interactive-muted: hsl(217,calc($saturation-factor * 7.6%),33.5%);
$interactive-active: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
