@import './fonts.scss';
@import './config';
@import './spacing';
@import './animations';
@import './components';
@import './syntax';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html,
body,
#root {
  height: 100%;
  background-color: $background-primary;
  text-rendering: optimizeLegibility;
  forced-color-adjust: none;
  overflow: hidden;
}

*,
button,
input {
  border: 0;
  outline: 0;
}

input, button {
  font-family: $font-family-primary;
}

a {
  color: var(--text-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.App {
  background-color: $background-primary;
  font-family: $font-family-primary;
  min-height: 100vh;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  user-select: none;
  overflow: hidden;
}

.ReactModalPortal {
  > div {
    width: 100vw;
    height: 100vh;
    background-color: transparent !important;
    box-sizing: border-box;
  }
}

.base-modal {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  box-sizing: border-box;
  overflow: hidden !important;
}

.bg-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.bg-modal-none {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.inputScroller {
  &::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
}

.scrollerBase {
  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--tertiary);
    min-height: 40px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--background-secondary);
    min-height: 40px;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
  }
}
.scroller {
  &::-webkit-scrollbar-track {
    margin-bottom: 8px;
  }
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  user-select: none;
}

.flex {
  display: flex;
}
