.app-section {
  display: grid;
  height: 100vh;
  grid-template-columns: 71px 240px auto;
  grid-template-rows: 46px auto 52px;
  grid-template-areas:
    'SL SN CI'
    'SL CL CP'
    'SL UI CP';
  @media (max-width: 1200px) {
    grid-template-areas:
      'SL SN CI'
      'SL CL CP'
      'SL UI CP';
    grid-template-columns: 71px 240px auto;
  }
}

.friends-section {
  display: grid;
  height: 100vh;
  grid-template-columns: 71px 240px auto 360px;
  grid-template-rows: 46px auto 52px;
  grid-template-areas:
    'SL SN CI CI'
    'SL CL CP RP'
    'SL UI CP RP';
  @media (max-width: 1200px) {
    grid-template-areas:
      'SL SN CI'
      'SL CL CP'
      'SL UI CP';
    grid-template-columns: 71px 240px auto;
  }
}
