.add-friend {
  border-bottom: 1px solid $background-modifier-accent;
  width: 100%;
  padding: 20px 30px;

  > h2.title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}

.add-friend-form {
  > p.advertise {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: $header-secondary;
  }

  > div.Error {
    font-size: 15px;
    color: $text-danger;
  }

  > div.Success {
    font-size: 15px;
    color: hsl(139, calc($saturation-factor * 47.3%), 43.9%);
  }

  > div.response {
    &.displayed {
      margin-top: 10px;
      margin-bottom: -10px;
    }
  }
}

.input-container {
  display: flex;
  align-items: center;
  background: $background-tertiary;
  width: 100%;
  margin-top: 16px;
  padding: 0 12px;
  padding-left: 2px;
  position: relative;
  border-radius: 8px;
  border: 1px solid;
  border-color: $text-input-border;
  height: 50px;

  &[data-focused='true'] {
    border-color: $text-link;
  }

  &[data-status='Success'] {
    border-color: hsl(139, calc($saturation-factor * 47.3%), 43.9%);
  }

  &[data-status='Error'] {
    border-color: #ff0000;
  }

  > .inputWrapper {
    flex: 1 1 auto;
    margin-right: 16px;
    padding: 4px 0;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 20px;
    white-space: pre;
  }

  > button.send {
    cursor: pointer;
    height: 32px;
    font-weight: 500;
    color: $header-primary;
    background-color: $brand-experiment;

    &:not(:disabled) {
      &:hover {
        background-color: $brand-experiment-560;
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.add-friend-input {
  height: 40px;
  padding: 10px;
  background: transparent;
  color: $header-primary;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
