.action-button {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: $interactive-normal;
  background-color: $background-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  &:hover {
    svg.accept {
      color: hsl(139, calc($saturation-factor * 50.3%), 43.9%);
    }
    svg.cancel {
      color: $info-danger-foreground;
    }
    svg.white-hover {
      color: #fff;
    }
  }
}

.action-icon {
  width: 20px;
  color: $header-secondary;
}
