.right-panel {
  grid-area: RP;
  display: flex;
  flex-direction: column;
  padding: 3px 6px 0 16px;
  background-color: $background-primary;
  border-left: 1px solid $background-modifier-accent;
  max-height: calc(100vh - 46px);
  overflow-y: scroll;
  min-width: 360px;
  max-width: 360px;

  > h3.title {
    margin: 8px 0 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }

  > div.empty-card {
    text-align: center;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h5.sub-title {
      margin-bottom: 4px;
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
    }

    > div.content {
      font-size: 14px;
      line-height: 18px;
      color: $interactive-normal;
      font-weight: 300;
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $tertiary;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $background-secondary;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}
