.messages-wrapper {
  min-height: 0;
  flex: 1 1 auto;
  overflow: hidden;

  > div.messages {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    will-change: unset;
  }
}

ol.messages-list {
  min-height: 0;
  > div.divider {
    height: 30px;
  }
}

.ChannelSpinner_Top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.ChannelSpinner_Full {
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
