.UserProfile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .tabBar {
    padding-top: 6px;
    margin-bottom: 16px;
    display: flex;

    .tabBarItem {
      padding-bottom: 16px;
      margin-right: 16px;
      border-bottom: 2px solid transparent;
      user-select: none;

      &:not(.active) {
        cursor: pointer;
        &:hover {
          border-bottom-color: $brand-experiment;
        }
      }

      &.active {
        border-bottom-color: hsl(
          235,
          calc($saturation-factor * 86.1%),
          77.5%
        );
      }
    }
  }
}

.customizationSection {
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
  > h5 {
    text-transform: uppercase;
    color: $header-secondary;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .changeAvatarButton {
    width: 118px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
}
